.container {
    text-align: center;
    height: 700px;
    padding: 40px;
    margin: 40px;
    background-color: rgb(172, 230, 125);
}

#text{
    color: aqua;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    background-color: dimgrey;
}

#button{
    padding: 20px;
    margin: 20px;
}

#cat_description{
    padding: 20px;
    margin: 20px;
}

#table{
    border: 2px solid green;
    float: right;
    width: 50%;
}